body {
  background: url("/assets/bg-audionex.jpg") no-repeat center;
  background-size: cover;
}

.container {
  display: grid;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  background: rgba(15, 173, 163, 0.4);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  height: 100vh;
}

.container .logo {
  margin: auto;
}

.container .gostar {
  width: 300px;
  margin: 0 auto;
}

.container .title {
  font-size: 3.2rem;
  color: #323232;
}

.container .button {
  background-color: ffa12a;
  color: #fff;
  text-decoration: none;
  padding: 12px 32px;
  font-size: 2.4rem;
  font-weight: 600;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  width: 300px;
}

@media (max-width: 425px) {
  body {
    background: url("/assets/bg-audionex-mobile.jpg") no-repeat center;
    background-size: cover;
  }
}
